# Object Oriented Programming

In [ ]:
I part of this challenge is to make store for film seling
II part of this chalenge is to make BANK acount

I challenge

#1)create a FILM class with next atributs:
   (id,name,genre,price)
    
#2)create a Bill class with next atributs(id,film_list)
   methods(add_film,remove_film,calcul_bill)

#3)create User class with next atributs
  (id_user,name,surname,date,unpaid_buill,debit)

In [286]:

class Film:
    
    def __init__(self,id,name,genre,price):
        
        self.id=id
        self.name=name
        self.genre=genre
        self.price=price
        
        
    def __repr__(self):
        
        return str(f"\nFilm_id:{self.id} \nTitle:{self.name}\nGener:{self.genre}\nPrice:{self.price}")


class Bill:
    
    def __init__(self,id:int,film_list:list):
        
        self.id=id
        self.film_list=film_list
        self.cena=0
        
        
    def calcul_bill(self):
        
        price_list=[film.price for film in self.film_list]
        total=sum(price_list)
        
        return sum(price_list)
    
    
    def add_film(self,film:Film):
        
        self.film_list.append(film)
        
        
    def remove_film(self):
        
        for film in self.film_list:
            print('Name:{} Id:{}'.format(film.name,film.id))
            
        idd=int(input("Input number of film ID You want to remove= "))   
        
        if idd  in [ film.id for film in self.film_list]:
            for film in self.film_list:
                if film.id==idd:
                    self.film_list.remove(film)
                    print('Film_id:{} name:{} was removed'.format(film.id,film.name))
        else:
            print("Id not in film_list")        
                
                    
    
    def __repr__(self):
        
        rez=''
        rez+="Bill ID: {}\n".format(self.id)
        rez+="\n"
        for film in (self.film_list):
            rez+='Name:{:10} Price:{:5}\n'.format(film.name,film.price)
        total=sum([film.price for film in self.film_list])
        rez+="\n"
        rez+=" Total price: {} ".format(total)
        
        return rez
    
    
#3)create User class with next atributs (id_user,name,surname,date,upaid_buill,debit)

class User:
    
    def __init__(self,id_user:int,user_name:str,date:str,unpaid_bill:list,debit=0):
        
        self.id_user=id_user
        self.user_name=user_name
        self.date=date
        self.unpaid_bill=unpaid_bill
        self.debit=debit
        
      
    def debitt(self):
        
        price_list=( [ bill.calcul_bill() for bill in self.unpaid_bill ] )
        
        self.debit=sum(price_list)
        
        return sum(price_list)
    
        
    def __repr__(self):
        
        rez=" "
        rez+=str(('User_id {}\n Name {}\n Date {}\n {} '.format(self.id_user,self.user_name,self.date,self.debit)))
        rez+=str(self.unpaid_bill)
        
        return rez

In [287]:

#let's put value in lists

id_num=[1,2,3,4]
names=["Space","Bad man","Father","Pggy"]
ganers=['comady','trailer','drama','comedy']
prices=[10,20,15,25]

# let's make some instance of Film class

film1=Film(id_num[0],names[0],ganers[0],prices[0])
film2=Film(id_num[1],names[1],ganers[1],prices[1])
film3=Film(id_num[2],names[2],ganers[2],prices[2])
film4=Film(id_num[3],names[3],ganers[3],prices[3])

print(film1)

Film_id:1
Title:Space
Gener:comady
Price:10

In [288]:
bill1=Bill(1,[film1,film2,film3])
bill1.calcul_bill()
print(bill1)

Bill ID: 1

Name:Space      Price:   10
Name:Bad man    Price:   20
Name:Father     Price:   15

 Total price: 45

In [289]:
bill1.add_film(film4)

In [290]:
bill1.calcul_bill()
print(bill1)

Bill ID: 1

Name:Space      Price:   10
Name:Bad man    Price:   20
Name:Father     Price:   15
Name:Pggy       Price:   25

 Total price: 70

In [291]:
bill2=Bill(2,[film2,film4])
bill2.calcul_bill()

45

In [292]:
print(bill1)

Bill ID: 1

Name:Space      Price:   10
Name:Bad man    Price:   20
Name:Father     Price:   15
Name:Pggy       Price:   25

 Total price: 70

In [293]:
bill3=Bill(3,[film1,film3])
bill3.calcul_bill()
print(bill3)

Bill ID: 3

Name:Space      Price:   10
Name:Father     Price:   15

 Total price: 25

In [294]:
user1=User(1,"Ana Petrovic",'21-10-2005',[bill1,bill2])

In [295]:
user1.unpaid_bill

[Bill ID: 1

 Name:Space      Price:   10
 Name:Bad man    Price:   20
 Name:Father     Price:   15
 Name:Pggy       Price:   25

  Total price: 70 ,
 Bill ID: 2

 Name:Bad man    Price:   20
 Name:Pggy       Price:   25

  Total price: 45 ]

In [296]:
bill2.add_film(film3)

In [297]:
bill2.calcul_bill()
print(bill2)

Bill ID: 2

Name:Bad man    Price:   20
Name:Pggy       Price:   25
Name:Father     Price:   15

 Total price: 60

In [298]:
bill3=Bill(3,[film1,film2,film3,film4])
print(bill3)

Bill ID: 3

Name:Space      Price:   10
Name:Bad man    Price:   20
Name:Father     Price:   15
Name:Pggy       Price:   25

 Total price: 70

In [299]:
bill3.film_list

[
 Film_id:1
 Title:Space
 Gener:comady
 Price:10,

 Film_id:2
 Title:Bad man
 Gener:trailer
 Price:20,

 Film_id:3
 Title:Father
 Gener:drama
 Price:15,

 Film_id:4
 Title:Pggy
 Gener:comedy
 Price:25]

In [ ]:
bill3.remove_film()

Name:Space Id:1
Name:Bad man Id:2
Name:Father Id:3
Name:Pggy Id:4

II challenge

# For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [ ]:
class Account:
    
    def __init__(self,owner,balance):
        self.owner=owner
        self.balance=balance
        
    def depo(self,deposite):
        self.balance=self.balance+deposite
        print("Deposit Accepted")
        return self.balance
    
    def withdraw(self,amount):
        if self.balance > amount:
            self.balnce=self.balance-amount
            print('Withdrow is accepted')
        else: print('Withdrow is not accepted')

In [ ]:
clinet1=Account("Snezana",1000)
clinet1.depo(200)
print(clinet1.balance)
clinet1.withdraw(1500)
print(clinet1.balance)

class Account:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance
        
    def __str__(self):
        return f'Account owner:   {self.owner}\nAccount balance: ${self.balance}'
        
    def deposit(self,dep_amt):
        self.balance += dep_amt
        print('Deposit Accepted')
        
    def withdraw(self,wd_amt):
        if self.balance >= wd_amt:
            self.balance -= wd_amt
            print('Withdrawal Accepted')
        else:
            print('Funds Unavailable!')

In [ ]:
# 1. Instantiate the class
acct1 = Account('Jose',100)

In [ ]:
# 2. Print the object
print(acct1.owner)

In [ ]:
# 3. Show the account owner attribute
acct1.owner

In [ ]:
# 4. Show the account balance attribute
acct1.balance

In [ ]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)

In [ ]:
acct1.withdraw(75)

In [ ]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

## Good job!